body {
    background-color: pink;
}

p {
    display: flex;
    justify-content: center;
    height: 10px;
}


@media only screen and (max-width: 1400px) {
    body {
        background-color: red;
    }
    p {
        display: flex;
        justify-content: center;
        height: 10px;
    }
    .texts span{
        display: none;
    }
    .texts::after {
        content: "xl (extra large) => 1200px";
    }
}
@media only screen and (max-width: 1200px) {
    body {
        background-color: red;
    }
    p {
        display: flex;
        justify-content: center;
        height: 10px;
    }
    .texts span{
        display: none;
    }
    .texts::after {
        content: "xl (extra large) => 992px";
    }
}
@media only screen and (max-width: 992px) {
    body {
        background-color: rgb(24, 172, 188);
    }
    p {
        display: flex;
        justify-content: center;
        height: 10px;
    }
    .texts span{
        display: none;
    }
    .texts::after {
        content: "xl (extra large) => 768px";
    }
}
@media only screen and (max-width: 768px) {
    body {
        background-color: rgba(137, 85, 21, 0.917);
    }
    p {
        display: flex;
        justify-content: center;
        height: 10px;
    }
    .texts span{
        display: none;
    }
    .texts::after {
        content: "xl (extra large) => 556px";
    }
}
@media only screen and (max-width: 556px) {
    body {
        background-color: green;
    }
}